body {
    color: brown;
    background-color: grey;
    font-size: 30px;
    font-family: Helvetica, Arial, Calibri, sans-serif;
    margin-right: 4em;
    margin-left: 4em;
}

#viz {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#record {
    height: 40%;
    width: 101%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: red;
}

#playbutton {
    height: 40%;
    width: 101%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: green;
}
